<mat-grid-list cols="3">
<div *ngFor="let movie of movieList">
    <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ ( movie.title.length > 25) ? ( movie.title | slice:0:25) + '...' : movie.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="movie.poster" alt="{{ movie.title }"  (click)="movieDetail(movie.imdbID)"> 
      <mat-card-content>
        <p>ImdbRating : {{movie.imdbRating}} &nbsp; Language : {{movie.language}}</p>
        <p>Location : {{movie.location}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  </div>
</mat-grid-list>